# Next.js
.next/
out/
build/
node_modules/

# Environment Variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Editor
.vscode/
.idea/

# Logs
*.log
